<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connectionString" value="Server=localhost;Database=TestingData;Trusted_Connection=true;TrustServerCertificate=true" />
        <add key="filePath" value ="C:/LogFiles"/>
		<add key="backupPath" value ="C:/LogFilesBackup/"/>
	</appSettings>
</configuration>